body{
  background-color: #f1fff1;
}
h1{
  color: #55829c;
}
P{
  color: whitesmoke;
}
tr{
	color : whitesmoke ;
}
table {
  background-color: #485791 ;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
  caption-side: bottom;
  font-family: cursive;

}
div.cen{
  display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
td{
     border: 3px solid black;
     padding: 0.5em;
}


a.bbb{
display: inline-block;
  list-style-type: none;
  padding: 0.5%;
}

a{
  background-color: #1B3358;
  color: whitesmoke;
  text-decoration: none;
  padding: 8px; 
}
a:hover{
  background-color: whitesmoke;
  color: #1B3358;
  transition: 0.5s;
}

div{
  display: inline-block;
  width: 48%;
}
div.gg{
  background-color:  #485791;
  vertical-align: top;
  width: 97%;
}

img{
  border-radius: 50%;
  float: left;
}
header{
  position: sticky;
  top:0;
}
nav{
   background-color: skyblue;
}
ul{
   display: flex;
   justify-content: space-between;
   padding: 1em 1em 0.5em 1em;
   margin: 0; 

   list-style-type: none;
  
}
.gg{
  background-color: #5068a9;
  vertical-align: top;
  padding: 0.5em 1em;
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media(max-width: 700px){
  section{
    font-size: 25px;
  }
}
@media(max-width: 700px){
  p{
    font-size: 25px;
  }
}