body {
background-image : url("5940110865_e5f6db708a_b.jpg");
background-repeat : no-repeat;
background-size : cover;

}
#rain {
visibility: visible;
}
h1 {
color : #6DA5C0;
}
P {
color : whitesmoke;
}
a {
background-color : #1B3358;
color : whitesmoke;
}
a:hover {
background-color : whitesmoke;
color : #1B3358;
}
div.gg {
background-color : #485791;
}
