body {
	background-image : url("5940110865_e5f6db708a_b.jpg");
	background-repeat : no-repeat;
	background-size : cover;
	background-color: black;
}
#rain {
	visibility: visible;
	z-index: -1;
	top: 0px;
	left: 0px;
}
h1 {
	color : #6DA5C0;
}
P {
	color : whitesmoke;
}
a {
	background-color : #1B3358;
	color : whitesmoke;
}
a:hover {
	background-color : whitesmoke;
	color : #1B3358;
}
div.gg {
	background-color : #485791;
}
nav{
	background-image: url(image.jpg) ;
	background-position: center;
	background-position-y: -280px;
	background-repeat : no-repeat;
	background-size : cover;
}
div.midbox{
	background-color: #393F3D;
}
section.midbox{
		background-color: #393F3D;
}
div.gg{
	background-color: #565E5B;
}
nav{
	 background-color: #747D7B;
}
a.po{
	background-color: #747D7B;
}
a.po 