body{
	background-color: #dddddd;
}
p{
	color :  whitesmoke;
}
h1{
	color :  #28385e;
}
div{
	display: inline-block;
	width: 48%;
}


a{
	display: inline-block;
	list-style-type: none;
}	
a{
	
	background-color:  #516c8d;
	color: whitesmoke;
	text-decoration: none;
	padding: 8px;

	
}
a:hover{
	background-color: whitesmoke;
	color: #1B3358;
	transition: 0.5s;
}
img.hj{
  border-radius: 5%;
  float: right;
}
img.ll{
	border-radius: 50%;
    float: left;
}
section{
	display: flex; 
	justify-content: space-between;
}
body{
	margin: 0;
}
header{
	position: sticky;
	top:0;
}
nav{
	 background-color: skyblue;
}
ul{
	 display: flex;
	 justify-content: space-between;
	 padding: 0 1em;
	 margin: 0; 
	 list-style-type: none;
}
section{
	display: flex; 
	justify-content: space-between;
	
}
div.jeunesse{
	background-color:  #516c8d;
	vertical-align: top;
	padding: 0.5em 1em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 5px;
	}