body{
  background: #B1C9EF;
}
h1{
  color: #3a316e;
}
P.bb{
  color: #395886;
}
p{
  color: whitesmoke;
}
tr{
	color : whitesmoke ;
} 
table {
  background-color: #485791 ;
}
a{
  
  background-color: #1B3358;
  color: whitesmoke;
}
a:hover{
  background-color: whitesmoke;
  color: #1B3358;
}
div.gg{
  background-color:  #485791;
}
#rain{
visibility: hidden;
}