label {
  width:90px;
  height:40px;
  position: relative; /*position*/
  display: block;  
  border-radius: 100px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4); /**/
  top: -750px; /*positionnemnt*/
  left: 1200px; /*positionnement*/
  margin: -20px;
}
label:after {
	content: "";
  width:40px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(120deg,orangered,orange); 
  border-radius: 20px;
}
input {
  visibility: hidden;
}
input:checked + label {
  background: #242424;
}
input:checked + label:after {
  left:10px;
  transform: translateX(100%);
  background: linear-gradient(120deg,darkgrey,black);
}
label, label:after {
  transition: 0.3s
}
a{
	display: inline-block;
	list-style-type: none;
	margin: 10px;
}	
a{
	text-decoration: none;
	padding: 8px;	
}
a:hover{
	transition: 0.5s;
}
div.leftbox{
	display: inline-block;
	width: 10%;
	border-radius: 15%; /*arrondir les blocks*/

}
div{
	display: inline-block;
	width: 40%;
	border-radius: 5%;	
}
div.rightbox{
	background-color: #5068a9;
	vertical-align: top;
	height: 350px;
	
}
div.leftbox{
	background-color: #5068a9;
	vertical-align: top;
	height: 350px;

}
div.midbox{
	background-color: #5068a9;
	vertical-align: top;
	height: 350px;
}
div.bellowbox{
	background-color: #5068a9;
	vertical-align: top;
	height: 350px;
	width: 1350px;
	margin: 12px;


}
img{
	 float: left;
	 margin: 5px;
	 border-radius: 40%;
}
iframe.ll{
	display: block;
	margin: auto;
	top: 50px;
	
}
iframe{
	margin: 20px;
}