label {
	width:90px;
	height:40px;
	display: block;
	border-radius: 100px;
	box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
}

label:after {
	content: "";
	width:40px;
	height: 40px;
	position: absolute;
	background: linear-gradient(120deg,orangered,orange); 
	border-radius: 20px;
	z-index: 40;
}
input {
	visibility: hidden;
}
input:checked + label {
	background: #242424;
}
input:checked + label:after {
	transform: translateX(100%);
	background: linear-gradient(120deg,darkgrey,black);
}
label, label:after {
	transition: 0.3s
}
a{
	display: inline-block;
	list-style-type: none;
	margin: 10px;
}	
a{
	text-decoration: none;
	padding: 8px;	
}
a:hover{
	transition: 0.5s;
}
div.leftbox{
	display: inline-block;
	width: 10%;
	border-radius: 15%; /*arrondir les blocks*/

}
div{
	display: inline-block;
	width: 40%;
	border-radius: 5%;	
}

.midbox{
	background-color: #5068a9;
	vertical-align: top;
	padding: 0.5em 1em;
	display: flex;
	flex-direction: column;
	
}
div.bellowbox{
	background-color: #5068a9;
	vertical-align: top;
	width: 100%;

}
img{
	float: left;
	margin: 5px;
	border-radius: 40%;
}
iframe.ll{
	display: block;
	margin: auto;
	top: 50px;
	
}
iframe{
	margin: 20px;
}

#rain {
	height : 100vh;
	width : 100vw;
	object-fit : cover;
	position : absolute;
	mix-blend-mode : lighten;
	object-fit : cover;
	object-fit : cover;
	opacity : 30%;
	left : 0;
	top : 0;
}
section{
	display: flex; 
	justify-content: space-between;
}
body{
	margin: 0;
}
header{
	position: sticky;
	top:0;
}
nav{
	 background-color: skyblue;
}
ul{
	 display: flex;
	 justify-content: space-between;
	 padding: 0 1em;
	 margin: 0; 
	 list-style-type: none;
}