h1{
  color : #FFA586;
}
p{
  color : #FFA586;
}

body{
  background-color: #161E2F;
}

table {
  background-color: #1B3358 ;
  width: 99%;
  border-collapse: collapse;
  border: 3px solid black;
  caption-side: bottom;
  font-family: cursive;
  

}
td{
 border: 3px solid black;
}
div.leftbox{
   background-color: #242F49;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px;
}
div.midbox{
  background-color: #242F49;
  vertical-align: top;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px;
}
img{
  float: right;
  margin: 5px;
}
a{
  display: inline-block;
  list-style-type: none;
} 
a{

  background-color: #1B3358;
  color: whitesmoke;
  text-decoration: none;
  padding: 8px;

  
}
a:hover{
  background-color: whitesmoke;
  color: #1B3358;
  transition: 0.5s;
}
a.h{
 margin: 45px;
}
header{
  position: sticky;
  top:0;
}
nav{
 background-color: skyblue;
}
ul{
 display: flex;
 justify-content: space-between;
 padding: 0 1em 0.5em 0;
 margin: 0; 
 list-style-type: none;

}